{% extends "formapp/base.html" %}
{% block title %}
Home!
{% endblock %}

{% block content %}

        <form action="/formapp/" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-control" {% if field.errors %} errors {% endif%}>
                {{ field.label }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <button type="submit">Send</button>
        </form>
{% endblock %}