<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'app.css' %}"/>

        {% block css_files %} {% endblock %}
    </head>
    <body>
        <header id="main-navigation">
            <h1><a href="{% url 'home' %}">Demo Blog</h1>
                <nav>
                    <a href="{% url 'all-posts' %}">All Posts-</a>
                </nav>
        </header>
    {% block content %}
    {% endblock %}
    </body>
</html>
