{% extends "_base.html" %}
{% load static %}
{% block title %}
{{ post.title }}
<!--This Post Details-->
{% endblock %}

{% block css_files %} 
<link rel="stylesheet" href="{% static "blogapp/post-details.css" %}"/>
{% endblock %}

{% block content %}
<section id="summary">
    {{ post.title }}
    <!--<h2>Post Title</h2>-->
    <article>
        <img src="{% static 'blogapp/images/mountains.jpg' %}" alt="Post Title"/>
        
        <address>By Demo</address>
        <div>
            Last updated on <time>Oct 20</time>
        </div>
    </article>
</section>

<main>
    {{ post.content }}
    <!--<p>this is dumy data</p>
    <p>this is dumy data</p>
    <p>this is dumy data</p>
    <p>this is dumy data</p>
-->
</main>
{% endblock %}